# =========================
# Backend - Python
# =========================

__pycache__/
*.pyc
*.pyo
*.egg-info/

# Python virtual environment
.venv/

# Environment variables
.env

# Python build files
build/
dist/
wheels/

# =========================
# Frontend - React / Node
# =========================

node_modules/
dist/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

/backend/chroma_db/