fastapi
python-dotenv
uvicorn[standard]
sqlalchemy
psycopg2-binary

httpx
python-jose[cryptography]
passlib[bcrypt]
email-validator
python-multipart

openai
chromadb
langchain
langchain-openai
langchain-text-splitters